<div class="content">
  <section>
    <h2>Celebrities</h2>

    {{#each celebrities}}
      <h3>{{this.name}}</h3>
      <ul>
        <li>Occupation: {{this.occupation}}</li>
        <li>Catchphrase: "{{this.catchPhrase}}"</li>
      </ul>

    {{/each}}

    <button class="button"><a href="/create">Add Celebrity</a></button>
  </section>
</div>