<div class="content">
  <h2>Movies</h2>

  {{#each movies}}
    <a href="/movies/{{this._id}}"><h3>{{this.title}}</h3></a>
  {{/each}}

  <button class="button"><a href="movies/create">Add Movie</a></button>
</div>