<h2>Add a new movie</h2>

<form action="/movies/create" method="POST">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required />

  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre" />

  <label for="plot">Plot:</label>
  <input type="textarea" id="plot" name="plot" />

  <label for="cast">Cast:</label>

  <select id="cast" name="cast" multiple>
    {{#each celebrities}}
      <option value="{{_id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Add Movie</button>
</form>

<a href="/movies">View all movies</a>
<br />